{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}" /> 

    <title>JNEC T&P PORTAL</title>
</head>

    

<body>


    <h1 style="text-align: center; color: #19515f; font-family: sans-serif;">Student Database</h1>
<div class="student-button-container">
    <button onclick="applyFilters()" id="applyButton" class="student-button">Apply</button>
    <button onclick="downloadTable()" class="student-button">Download</button>
</div>

<table id="myTable" class="student-table">
    <tr>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>PRN</th>
        <th>DOB</th>
        <th>Gender
            <select class="filter-dropdown" id="genderFilter">
                <option value="all">All</option>
                <option value="M">Male</option>
                <option value="F">Female</option></th>

        <th>Email</th>
        <th>Personal email</th>
        <th>Age</th>
        <th>Mobile no</th>
        <th>Alternate mobile no</th>
        <th>Local address</th>
        <th>Permanent address</th>
        <th>Native place</th>
        <th>X Percentage
            <select class="filter-dropdown" id="xPercentFilter">
                <option value="all">All</option>
                <option value=">=60"> % > = 60 </option>
                <option value="<60"> % < 60 </option> </th>

        <th>X year of passing</th>
        <th>X Board</th>
        <th>XII Percentage
            <select class="filter-dropdown" id="xiiPercentFilter">
                <option value="all">All</option>
                <option value=">=60"> % > = 60 </option>
                <option value="<60"> % < 60 </option> </th>

        <th>XII year of passing</th>
        <th>XII board</th>
        <th>Diploma percentage
            <select class="filter-dropdown" id="diplomaPercentFilter">
                <option value="all">All</option>
                <option value=">=60"> % > = 60 </option>
                <option value="<60"> % < 60 </option>
        </th>

        <th>Diploma year of passing</th>
        <th>Diploma college</th>
        <th>Diploma branch</th>
        <th>Admission type</th>
        <th>Pass out year</th>
        <th>Department</th>
        <th>Sem1 sgpa</th>
        <th>Sem2 sgpa</th>
        <th>Sem3 sgpa</th>
        <th>Sem4 sgpa</th>
        <th>Sem5 sgpa</th>
        <th>Sem6 sgpa</th>
        <th>Sem7 sgpa</th>
        <th>Sem8 sgpa</th>
        <th>Avg cgpa</th>
        <th>Avg sem percentage
            <select class="filter-dropdown" id="avgPercentFilter">
                <option value="all">All</option>
                <option value=">=60"> % > = 60 </option>
                <option value="<60"> % < 60 </option>
        </th>

        <th>Live backlogs

            <select class="filter-dropdown" id="liveBacklogFilter">
                <option value="all">All</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
        </th>
        <th>Dead backlogs
            <select class="filter-dropdown" id="deadBacklogFilter">
                <option value="all">All</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
        </th>
        <th>Year gap
            <select class="filter-dropdown" id="yearGapFilter">
                <option value="all">All</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
        </th>
        <th>Languages Known</th>
        <th>Minor Project</th>
        <th>Major Project</th>
        <th>Preference 1</th>
        <th>Preference 2</th>
        <th>Preference 3</th>
        <th>Placed
            <select class="filter-dropdown" id="placedFilter">
                <option value="all">All</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
        </th>

        
    </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>

            <td><a href="{% url 'student_profile' student_prn=student.PRN %}" class="custom-link"><strong>{{ student.FIRST_NAME }}</strong></a></td>
            <td>{{ student.MIDDLE_NAME }}</td>
            <td>{{ student.LAST_NAME }}</td>
            <td>{{ student.PRN }}</td>
            <td>{{ student.DOB }}</td>
            <td>{{ student.GENDER }}</td>
            <td>{{ student.EMAIL }}</td>
            <td>{{ student.PERSONAL_EMAIL }}</td>
            <td>{{ student.AGE }}</td>
            <td>{{ student.MOBILE_NO }}</td>
            <td>{{ student.ALT_Mobile_NO }}</td>
            <td>{{ student.LOCAL_ADDRS }}</td>
            <td>{{ student.PERM_ADDRS }}</td>
            <td>{{ student.Native_Place }}</td>
            <td>{{ student.X_Percentage }}</td>
            <td>{{ student.X_year_of_passing }}</td>
            <td>{{ student.X_board }}</td>
            <td>{{ student.XII_Percentage }}</td>
            <td>{{ student.XII_year_of_passing }}</td>
            <td>{{ student.XII_board }}</td>
            <td>{{ student.Diploma_percentage }}</td>
            <td>{{ student.Diploma_year_of_passing }}</td>
            <td>{{ student.Diploma_college }}</td>
            <td>{{ student.Diploma_branch }}</td>
            <td>{{ student.Admission_Type }}</td>
            <td>{{ student.Pass_out_Year }}</td>
            <td>{{ student.department }}</td>
            <td>{{ student.SEM_1_sgpa }}</td>
            <td>{{ student.SEM_2_sgpa }}</td>
            <td>{{ student.SEM_3_sgpa }}</td>
            <td>{{ student.SEM_4_sgpa }}</td>
            <td>{{ student.SEM_5_sgpa }}</td>
            <td>{{ student.SEM_6_sgpa }}</td>
            <td>{{ student.SEM_7_sgpa }}</td>
            <td>{{ student.SEM_8_sgpa }}</td>
            <td>{{ student.AVG_TILL_SEM_cgpa }}</td>
            <td>{{ student.AVG_TILL_SEM_percentage }}</td>
            <td>{{ student.Live_backlogs }}</td>
            <td>{{ student.Dead_backlogs }}</td>
            <td>{{ student.Year_gap }}</td>
            <td>{{ student.Languages }}</td>
            <td>{{ student.minor_projects }}</td>
            <td>{{ student.major_projects}}</td>
            <td>{{ student.Preference_1 }}</td>
            <td>{{ student.Preference_2 }}</td>
            <td>{{ student.Preference_3 }}</td>
            <td>{{ student.Placed }}</td>
            

            </tr>
        {% endfor %}
    </tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        function applyFilters() {
            var genderFilter = document.getElementById("genderFilter").value;
            var xPercentFilter = document.getElementById("xPercentFilter").value;
            var xiiPercentFilter = document.getElementById("xiiPercentFilter").value;
            var diplomaPercentFilter = document.getElementById("diplomaPercentFilter").value;
            var avgPercentFilter = document.getElementById("avgPercentFilter").value;
            var liveBacklogFilter = document.getElementById("liveBacklogFilter").value;
            var deadBacklogFilter = document.getElementById("deadBacklogFilter").value;
            var yearGapFilter = document.getElementById("yearGapFilter").value;
            var placedFilter = document.getElementById("placedFilter").value;

            var table = document.getElementById("myTable");
            var rows = table.getElementsByTagName("tr");

            for (var i = 1; i < rows.length; i++) {
                var row = rows[i];
                var genderCell = row.cells[5];
                var xPercentCell = row.cells[14];
                var xiiPercentCell = row.cells[17];
                var diplomaPercentCell = row.cells[20];
                var avgPercentCell = row.cells[36];
                var liveBacklogCell = row.cells[37];
                var deadBacklogCell = row.cells[38];
                var yearGapCell = row.cells[39];
                var placedCell = row.cells[43];

                if (
                    (genderFilter === "all" || genderCell.textContent.trim() === genderFilter) &&
                    (xPercentFilter === "all" || xPercentCell.textContent.trim() === xPercentFilter) &&
                    (xiiPercentFilter === "all" || xiiPercentCell.textContent.trim() === xiiPercentFilter) &&
                    (diplomaPercentFilter === "all" || diplomaPercentCell.textContent.trim() === diplomaPercentFilter) &&
                    (avgPercentFilter === "all" || avgPercentCell.textContent.trim() === avgPercentFilter) &&
                    (liveBacklogFilter === "all" || liveBacklogCell.textContent.trim() === liveBacklogFilter) &&
                    (deadBacklogFilter === "all" || deadBacklogCell.textContent.trim() === deadBacklogFilter) &&
                    (yearGapFilter === "all" || yearGapCell.textContent.trim() === yearGapFilter) &&
                    (placedFilter === "all" || placedCell.textContent.trim() === placedFilter)
                ) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            }
        }

        var applyButton = document.getElementById("applyButton");
        if (applyButton) {
            applyButton.addEventListener("click", applyFilters);
        } else {
            console.error("Button with ID 'applyButton' not found.");
        }
    });

    function downloadTable() {
        // Select the table
        var table = document.getElementById("myTable");

        // Convert the table to a workbook
        var wb = XLSX.utils.table_to_book(table);

        // Convert the workbook to a binary Excel file and download it
        XLSX.writeFile(wb, 'filtered_table.xlsx');
}

function goBack() {
  window.history.back();
  }
</script>


</body>
</html>

