/* Container for the coordinator profile card */
.coordinatorContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    width: 50%;
    margin-left: 500px;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    padding: auto;
}

/* Coordinator profile card */
.coordinator-pr-card {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1200px;
    height: 80vh;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    overflow: hidden;
}

/* Header section of the card */
.coordinator-pr-card-header {
    padding: 30px;
    font-weight: bold;
    text-align: center;
    background-color: #318398;
    height: 100px;
    color: #ffffff;
}

/* Container for profile image to maintain fixed size */
.co_profile_img_container {
    width: 100px;
    height: 120px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    background-color: #ddd;
    /* Optional: background color if image not loaded */
}

/* Profile image styling */
.co_profile_img {
    width: 100%;
    height: 100%;
}

/* Body content of the card */
.coordinator-pr-card-body {
    flex: 1;
    padding: 30px;
    font-size: 18px;
    overflow-y: auto;
}

/* Styling for strong text within the body */
.coordinator-pr-card-body strong {
    font-weight: bold;
}

/* Paragraph styling */
.coordinator-pr-card-body p {
    margin-bottom: 20px;
    line-height: 1.6;
}