@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* General styles for both forms */
body {
    font-family: 'Poppins', sans-serif;
}

.edit_profile_card {
    background-color: rgba(245, 245, 245, 0.878);
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 90px auto;
    width: 100%;
    height: 100%;
    margin-bottom: 1cm;
    max-width: 850px;
    margin-left: 400px;
}

.form-group {
    margin-bottom: 30px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: calc(100% - 30px);
    /* Adjusted width */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.checkbox-group {
    margin-bottom: 20px;
}

.checkbox-group input[type="checkbox"] {
    display: none;
}

.checkbox-group label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

.checkbox-group label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 2px solid black;
    border-radius: 3px;
    vertical-align: middle;
}

.checkbox-group input[type="checkbox"]:checked+label:before {
    background-color: black;
    border-color: black;
}

.checkbox-group input[type="checkbox"]:checked+label:after {
    content: "\2713";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    text-align: center;
    line-height: 20px;
    color: white;
    background-color: black;
    border-radius: 3px;
    vertical-align: middle;
}

.btn-submit {
    background-color: #0f3243;
    border: none;
    color: white;
    height: auto;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    margin: 20px auto;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}

.btn-submit:hover {
    background-color: #63bbd1;
    color: white;
    cursor: pointer;
}

/* Custom scrollbar */
.edit_profile_card-body {
    max-height: 475px;
    overflow-y: auto;
    color: #0f3243;
}

.dropdown-btn {
    cursor: pointer;
    color: white;
    background-color: #0f3243;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.dropdown-btn:hover {
    background-color: #63bbd1;
    color: white;
    cursor: pointer;
}

.edit_profile_card-body {
    display: none;
}