body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif;

}

.upload-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Center items horizontally and vertically */
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    width: 600px;
    height: 300px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
    font-family: 'Poppins', sans-serif;

}

.upload-container:hover {
    box-shadow: 0 20px 34px rgba(77, 148, 218, 0.744);
}

.upload {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 40px;
}






.apply_Res {
    display: block;
    margin: 0 auto;
    display: inline-block;
    padding: 10px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.apply_Res:hover {
    background-color: grey;
    cursor: pointer;
}