{% extends 'main.html' %}

{% block content %}
{% load static %}

    <div class="centered-container">
        <div class="drive-details">

            <header>
               
                <header>
                    <h1 class="sd-header">MGM University</h1>
                    <h2 class="unbold">Chhatrapati Sambhajinagar</h2>
                    <h2>Training and Placement Department</h2>
                    <img src="{% static 'images/header.jpg' %}" alt="Logo" class="header-logo">
                    <p class="clg_name"> Jawaharlal Nehru Engineering College<p>

                <hr>
                </header>

            </header>

            <h2 class="title">Campus Placement Drive by: {{ drive.company_name }}</h2>
            <div class="logo-container">
                <img src="{{ drive.company_logo.url }}" alt="Company Logo" class="logo">
            </div>            
            <p><strong>Reference Number:</strong> {{ drive.Reference_no }}</p>
            <p><strong>Date:</strong> {{ drive.date }}</p>
            <p><strong>Last date to Apply:</strong> {{ drive.application_last_date }}</p>

            <p><strong>Job CTC:</strong> {{ drive.job_CTC }}</p>
            <p><strong>About:</strong> {{ drive.content }}</p>
            <p><strong>Bond:</strong> {{ drive.Bond }}</p>
            <p><strong>Industry Type:</strong> {{ drive.industry_type }}</p>

            <p><strong>Departments:</strong>
                {% for department in drive.department.all %}
                    {{ department.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            
            <p><strong>Job Role:</strong> {{ drive.job_role }}</p>
            <p><strong>Job Description:</strong> {{ drive.job_description }}</p>

            <p><strong>Job Location:</strong> {{ drive.job_location }}</p>
            <p><strong>Job Eligibility:</strong> {{ drive.job_eligibility }}</p>
            <p><strong>Rounds for Selection:</strong> {{ drive.num_rounds }}</p>
            {% if drive.round1%}
            <p><strong>Round 1:</strong> {{ drive.round1 }}</p>
            {% endif %}
            {% if drive.round2 %}
                <p><strong>Round 2:</strong> {{ drive.round2 }}</p>
            {% endif %}
            {% if drive.round3 %}
                <p><strong>Round 3:</strong> {{ drive.round3 }}</p>
            {% endif %}
            {% if drive.round4 %}
            <p><strong>Round 4:</strong> {{ drive.round4 }}</p>
            {% endif %}          
            {% if drive.round5 %}
            <p><strong>Round 5:</strong> {{ drive.round5 }}</p>
            {% endif %}

            <p><strong>Shared On Date:</strong> {{ drive.creation_date }}</p>
            <p><strong>Application Link:</strong> <a href="{{ drive.application_link }}" target="_blank">{{ drive.application_link }}</a></p>
            <p><strong>Upload Resume:</strong> <a href="{{ drive.resume_link }}" target="_blank">{{ drive.resume_link }}</a></p>


            <hr>

            <!-- <footer>
                <p class="office_name">Dr. Parminder Kaur</p>
                <p class="office_name">Head, Training and Placement</p>
                <p class="office_name">MGM University</p>

                
            
            </footer> -->

            <div class="button-container">
                <a href="{% url 'all-drives' %}" class="link">All Drives</a>
                {% if request.user.is_authenticated and request.user.user_type == 'TNP-Office' %}

                <a href="{% url 'update-drive' drive.drive_id %}" class="link">Update</a>
                <a href="{% url 'delete-drive' drive.drive_id %}" class="link" id="deleteButton">Delete</a>
                {% endif %}

                <a href="{% url 'download_drive_pdf' drive.drive_id %}" class="link",id="downloadButton" >Download PDF</a>
                {% if request.user.is_authenticated and request.user.user_type == 'Student' %}
                <a href="{% url 'apply_drive' drive.drive_id %}" class="link">Apply Now</a>
                {% endif %}
                {% if request.user.is_authenticated and request.user.user_type == 'Coordinator' %}

                <a href="{% url 'drive_applied_students' drive.drive_id %}" class="link">View Applied Students</a>

                {% endif %}


            </div>     
            
            
        </div>
    </div>
 

{% endblock content %}
